# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: Upload Python Package

on:
  release:
    types: ["published"]

permissions:
  contents: read
  id-token: write

jobs:
  deploy-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v3
      - run: uv build
      - run: uv publish --trusted-publishing always --index testpypi
  deploy:
    runs-on: ubuntu-latest
    needs: ["deploy-test"]
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v3
      - run: uv build
      - run: uv publish --trusted-publishing always
